header,
body,
div,
dl,
dd,
dt,
ul,
li,
h3,
nav,
p,
footer,
section,
i,
input {
  padding: 0;
  margin: 0;
}
body {
  font-family: "微软雅黑";
  width: 100%;
  height: 100%;
  overflow: auto;
}
a {
  display: block;
  text-decoration: none;
}
img {
  border: 0;
  display: block;
}
i,
em,
d {
  font-style: normal;
}
ul,
li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header {
  height: 1.875rem;
  width: 100%;
  background: #fabc09;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
header .lef {
  float: left;
  width: 1.375rem;
  height: 1.6rem;
  margin: 0.225rem 0.3rem 0.05rem 0.275rem;
}
header .lef img {
  width: 0.875rem;
  height: 0.75rem;
  padding: 0rem 0.25rem;
}
header .span1 {
  font-size: 0.4rem;
  color: #433e2e;
  display: block;
  height: 0.85rem;
  width: 1.375rem;
  text-align: center;
  line-height: 0.85rem;
}
header .rig {
  float: right;
  width: 1.375rem;
  height: 1.425rem;
  margin: 0.225rem 0.3rem 0.225rem 0.375rem;
}
header .rig img {
  width: 0.875rem;
  height: 0.925rem;
  padding: 0 0.25rem;
}
header .span2 {
  font-size: 0.4rem;
  color: #433e2e;
  display: block;
  height: 0.5rem;
  line-height: 0.5rem;
  padding-left: 0.025rem;
}
header .cen {
  float: left;
  width: 10.725rem;
  height: 1.25rem;
  border: 0rem;
  border-radius: 0.15rem;
  padding-left: 1.275rem;
  background: #d5dba9 url(../images/se.png) no-repeat 0.4rem 0.25rem;
  margin-top: 0.35rem;
  font-size: 0.5rem;
  color: #a5a5a8;
  ling-height: 1.25rem;
  background-size: 0.55rem 0.55rem;
}
.bgr {
  background: #b7d9be;
}
footer {
  width: 100%;
  height: 4.625rem;
  background: #cbe3d1;
}
footer a {
  font-size: 0.55rem;
  color: #000;
  height: 0.55rem;
  line-height: 0.55rem;
  float: left;
  width: 2.65rem;
  text-align: center;
}
footer li {
  float: left;
  height: 0.55rem;
  padding: 0 0.25rem;
  border-right: 0.05rem solid #d9dedb;
  margin: 0.65rem 0 1.125rem 0;
}
footer p {
  text-align: center;
  font-size: 0.5rem;
  color: #8a8889;
  height: 0.5rem;
  line-height: 0.5rem;
}
.banner {
  margin-top: 1.875rem;
  border-bottom: 0.025rem solid #acd3b3;
}
.banner .top img {
  width: 16rem;
  height: 6.775rem;
}
.banner .bot img {
  width: 16rem;
  height: 4.325rem;
}
nav {
  width: 100%;
  background: #cce3d1;
}
nav .top {
  padding-bottom: 0.525rem;
  border-bottom: 0.05rem solid #bbdac0;
}
nav .top li {
  width: 2.7rem;
  height: 3.05rem;
  margin: 0 0.25rem;
  float: left;
}
nav .top img {
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}
nav .top p {
  font-size: 0.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  color: #7c7f82;
}
nav .bot {
  height: 2.175rem;
}
nav .bot .dt1 {
  width: 3.5rem;
  height: 1.05rem;
  float: left;
  background: url(../images/bar.png) no-repeat right center;
  margin-top: 0.55rem;
  background-size: 0.075rem 0.825rem;
}
nav .bot .dt1 a {
  width: 3.1rem;
  height: 1.05rem;
}
nav .dt1 img {
  width: 3.1rem;
  height: 1.05rem;
}
nav .bot dd {
  padding: 0.375rem 0rem 0rem 0.775rem;
  float: left;
}
nav .bot p {
  height: 0.65rem;
  line-height: 0.65rem;
  padding-left: 0.45rem;
  background: url(../images/dian.png) no-repeat left 0.325rem;
  background-size: 0.15rem 0.15rem;
}
nav .bot .one a {
  color: #000;
  font-size: 0.45rem;
  height: 0.65rem;
  line-height: 0.65rem;
}
nav .bot .two a {
  color: #9a9b9a;
  font-size: 0.45rem;
  height: 0.65rem;
  line-height: 0.65rem;
}
.sec_one {
  padding: 0.5rem 0rem;
  background: #b8d9be;
}
.sec_one .part1 .lef {
  width: 7.95rem;
  height: 6.2rem;
  overflow: hidden;
  float: left;
  margin: 0rem 0.025rem 0.025rem 0rem;
}
.sec_one .part1 .lef img {
  width: 7.95rem;
  height: 6.2rem;
}
.sec_one .part1 .rig {
  width: 7.975rem;
  height: 6.225rem;
  float: left;
  overflow: hidden;
}
.sec_one .part1 .rig img {
  width: 7.975rem;
  height: 3.075rem;
  margin: 0rem 0.025rem 0.025rem 0rem;
}
.sec_one .part2 a {
  margin: 0 0.05rem 0.05rem 0;
  float: left;
}
.sec_one .part2 img {
  width: 3.95rem;
  height: 6.4rem;
}
.sec_one .part2 {
  margin-top: 0.05rem;
}
.sec_two {
  height: 14.1rem;
  background: #cce3d1;
}
.sec_two .head {
  height: 1.7rem;
}
.sec_two .head .lef {
  float: left;
  height: 0.625rem;
  width: 4.5rem;
  padding: 0.725rem 0 0 3.7rem;
  background: url(../images/pic_03.png) no-repeat 0.35rem 0.4rem;
  background-size: 2.9rem 1rem;
}
.sec_two .head .lef span {
  display: block;
  float: left;
  font-size: 0.4rem;
  color: #fa4c4b;
  margin-right: 0.2rem;
}
.sec_two .head .lef .dif1,
.sec_two .head .lef .dif2 {
  color: #000;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.05rem solid #98ac91;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.5rem;
}
.sec_two .head .lef .dif2 {
  border-color: #ff3639;
}
.sec_two .head .lef .dif {
  color: #000;
}
.sec_two .head .rig {
  float: right;
  height: 0.725rem;
  padding: 0.625rem 0.375rem 0.35rem 0;
}
.sec_two .head .rig .one {
  height: 0.725rem;
  line-height: 0.725rem;
  text-align: center;
  color: #396626;
  width: 2.575rem;
  border-radius: 0.25rem;
  float: left;
  font-size: 0.4rem;
  background: #ffc101;
}
.sec_two .head .rig .two {
  float: left;
  margin-left: 0.1rem;
  margin-top: 0.075rem;
}
.sec_two .head .rig .two img {
  width: 0.35rem;
  height: 0.6rem;
}
.sec_two .pic {
  padding-left: 0.4rem;
  padding-bottom: 0.475rem;
}
.sec_two .pic a {
  width: 4.75rem;
  height: 5.025rem;
  margin: 0 0.15rem 0 0;
  float: left;
  overflow: hidden;
}
.sec_two .pic img {
  width: 4.65rem;
  height: 3.525rem;
  border: 0.05rem solid #b7cfb4;
  border-bottom: 0;
}
.sec_two .pic p {
  height: 1.45rem;
  width: 4.65rem;
  margin: 0 0.05rem;
  background: #dddddd url(../images/row.png) no-repeat 3.05rem top;
  background-size: 1.5rem 1.525rem;
}
.sec_two .pic .bg1 {
  background-image: url(../images/row2.png);
}
.sec_two .pic .bg2 {
  background-image: url(../images/row3.png);
}
.sec_two .pic .fir {
  font-size: 0.45rem;
  height: 0.75rem;
  line-height: 0.75rem;
  display: block;
  padding-left: 0.5rem;
  color: #dd0000;
}
.sec_two .pic .two {
  font-size: 0.35rem;
  height: 0.575rem;
  line-height: 0.575rem;
  display: block;
  padding-left: 0.5rem;
  color: #9c9c9c;
}
.sec_two .pic2 {
  padding-bottom: 0.475rem;
  background: #b8d9be;
}
.sec_two .pic2 a {
  float: left;
}
.sec_two .pic2 .fir {
  margin-right: 0.05rem;
}
.sec_two .pic2 img {
  width: 7.95rem;
  height: 6.4rem;
}
.sec_thr {
  background: #c3dfc9;
}
section h3 {
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.6rem;
  color: #fe2e4b;
  text-align: center;
  margin-bottom: 0.05rem;
  background: #fff;
  font-weight: normal;
}
.sec_thr li {
  float: left;
}
.sec_thr .li_1 img {
  width: 7.95rem;
  height: 8.55rem;
  margin-right: 0.05rem;
}
.sec_thr .li_2 img {
  width: 7.95rem;
  height: 3.075rem;
  margin-bottom: 0.05rem;
}
.sec_thr span {
  display: block;
}
.sec_thr span a {
  float: left;
}
.sec_thr span a img {
  width: 3.95rem;
  height: 5.375rem;
  margin-right: 0.05rem;
}
.sec_thr ul {
  margin-bottom: 0.5rem;
}
.ban img {
  width: 16rem;
  height: 4.25rem;
  padding-bottom: 0.5rem;
}
.chara h3 {
  color: #80d157;
}
.chara h3 {
  color: #80d157;
}
.chara {
  background: #b8d9be;
}
.chara .a1,
.hot .a1,
.famous .a1,
.money .a1 {
  width: 7.95rem;
  height: 6.175rem;
  margin-right: 0.05rem;
  margin-bottom: 0.05rem;
  background: #fff;
  float: left;
  overflow: hidden;
}
.chara .p1,
.hot .p1,
.famous .p1,
.money .p1 {
  height: 0.875rem;
  line-height: 0.875rem;
  padding: 0.375rem 0 0 0.425rem;
  color: #d56764;
  font-size: 0.55rem;
}
.chara .p2,
.hot .p2,
.famous .p2,
.money .p2 {
  height: 0.775rem;
  line-height: 0.775rem;
  color: #b7b7b7;
  font-size: 0.55rem;
  padding-left: 0.4rem;
}
.chara .a1 .p2 span {
  display: block;
  float: left;
}
.chara .a1 .p2 .sp2 {
  width: 2.05rem;
  height: 0.6rem;
  line-height: 0.6rem;
  background: #e6373b;
  border-radius: 0.275rem;
  margin: 0.05rem 0;
  color: #fff;
}
.chara .a1 img {
  width: 7.95rem;
  height: 4.275rem;
}
.chara .a2,
.money .a2 {
  width: 7.95rem;
  height: 3.075rem;
  margin: 0 0.05rem 0.05rem 0;
  background: #fff;
  position: relative;
  float: left;
}
.chara .a2 img,
.money .a2 img {
  width: 2.7rem;
  height: 3.05rem;
  position: absolute;
  right: 0;
  top: 0;
}
.chara .a2 .p1 {
  color: #282828;
}
.chara .a3 .p1 {
  color: #3da5ba;
}
.chara .a4 .p1 {
  color: #3da5ba;
}
.chara .a5 img {
  width: 4.075rem;
}
.chara .pos {
  padding-bottom: 0.5rem;
}
.hot h3 {
  color: #55d9e6;
}
.hot1 img {
  width: 5.225rem;
  height: 3.9rem;
  position: absolute;
  bottom: 0;
  left: 1.375rem;
}
.hot .a1 {
  position: relative;
}
.hot {
  background: #b7d7bd;
  padding-bottom: 0.5rem;
}
.hot2 img {
  width: 4.25rem;
  height: 6.35rem;
  position: absolute;
  right: 0;
  top: 0;
}
.hot .hot3 {
  width: 5.25rem;
  height: 5.5rem;
}
.hot .hot3 img {
  width: 5.25rem;
  height: 3.225rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hot .p1 {
  color: #4b4b4b;
}
.famous .famous1 {
  background: #ffc603;
}
.famous .famous1 .p1 {
  color: #000;
  font-size: 0.75rem;
  text-align: center;
  height: 0.75rem;
  line-height: 0.75rem;
}
.famous {
  background: #b8d9be;
  padding-bottom: 0.5rem;
}
.famous .famous1 .p2 {
  color: #cf9818;
  text-align: center;
  padding: 0;
}
.famous .famous2 {
  width: 3.95rem;
  height: 6.2rem;
}
.famous .famous2 img {
  width: 3.95rem;
  height: 4.125rem;
}
.money {
  background: #b8d9be;
  padding-bottom: 0.5rem;
}
.money .a2 img {
  width: 3.175rem;
}
.good {
  background: #cce3d1;
}
.good ul {
  padding-left: 0.35rem;
  padding-bottom: 1.25rem;
  border-top: 0.025rem solid #aad2b1;
}
.good li {
  float: left;
  padding-right: 0.475rem;
  width: 7.35rem;
}
.good .top {
  width: 7.825rem;
  height: 2.725rem;
}
.good .top img {
  width: 1.7rem;
  height: 1.7rem;
  float: left;
  margin: 0.5rem 0.4rem 0.5rem 0;
}
.good p {
  float: left;
}
.good .top .one {
  display: block;
  font-size: 0.6rem;
  color: #000;
  height: 0.6rem;
  line-height: 0.6rem;
  margin-top: 0.55rem;
}
.good .top .two {
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 0.5rem;
  color: #989898;
}
.good .bot a {
  float: left;
}
.good .fir img {
  width: 4.8rem;
  height: 4.825rem;
  border: 0.05rem solid #b2ccb0;
  margin-right: 0.025rem;
}
.good .two img {
  width: 2.325rem;
  height: 2.325rem;
  border: 0.05rem solid #a4c3a2;
  margin-bottom: 0.05rem;
}
.good .thr img {
  width: 2.325rem;
  height: 2.325rem;
  border: 0.05rem solid #a4c3a2;
}
.like {
  background: #b8d9be;
  padding: 0 0 0 0.35rem;
}
.like .head {
  height: 1.875rem;
}
.like .head span {
  display: block;
  float: left;
}
.like .head .bor {
  width: 5.375rem;
  border-bottom: 0.025rem solid #aec8ab;
  height: 1.075rem;
}
.like .head .two {
  font-size: 0.7rem;
  color: #3f6b2a;
  height: 0.85rem;
  line-height: 0.85rem;
  padding-left: 0.975rem;
  margin: 0.6rem 0.375rem 0 0.375rem;
  background: url(../images/love.png) no-repeat left center;
  background-size: 0.875rem 0.85rem;
}
.like li {
  float: left;
  width: 7.475rem;
  height: 10.4rem;
  margin: 0 0.35rem 0.35rem 0;
  background: #cce3d1;
}
.like li img {
  width: 7.375rem;
  height: 7.4rem;
  padding: 0.05rem 0.05rem 0 0.05rem;
}
.like li p {
  line-height: 0.8rem;
  height: 0.8rem;
  font-size: 0.5rem;
  color: #2e2d2d;
  padding-left: 0.225rem;
}
.like li span {
  display: block;
  padding-left: 0.225rem;
  color: #e31112;
  font-size: 0.45rem;
  height: 0.9rem;
  line-height: 0.9rem;
}
.money1 img {
  width: 7.95rem;
  height: 3.925rem;
}
.famous1 img {
  width: 7.95rem;
  height: 3.925rem;
}
